go 1.24

use (
	../torana-plugin-sdk
	./plugins/auth
	./plugins/compactor
	./plugins/intent
	./plugins/keyword_compactor
	./plugins/otel
	./plugins/pii
	./plugins/schema_translator
)

replace github.com/torana-edge/torana-plugin-sdk v0.1.0 => ../torana-plugin-sdk
